# Core dependencies
numpy==2.0.2  # BSD License
scipy==1.14.1  # BSD License
pandas>=2.0.0  # Required by exllamav2

# Audio processing
pyaudio==0.2.14  # MIT License
#portaudio19-dev  # System requirement for PyAudio

# AI and ML
openai-whisper==20231117  # MIT License
llama-cpp-python-cuda==0.2.85+cu121
exllamav2==0.1.8+cu121.torch2.2.2
torch==2.3.1
safetensors>=0.3.2
sentencepiece>=0.1.97

# UI and Interface
pynput==1.7.7  # LGPL-3.0 License
ttkthemes==3.2.2  # GNU General Public License v3.0
tkcolorpicker==2.1.3  # MIT License
termcolor==2.4.0  # MIT License

# Utilities
tqdm==4.66.5  # MIT License, Mozilla Public License 2.0 (MPL 2.0) (Dual-Licensed)
tiktoken==0.7.0  # MIT License
numba==0.60.0  # BSD License
pyperclip==1.8.2  # BSD License
diskcache>=5.6.1
ninja  # Required by exllamav2
fastparquet  # Required by exllamav2
pygments  # Required by exllamav2
rich  # Required by exllamav2
websockets  # Required by exllamav2
